<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories/brick"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <app-text-shell [data]="details?.name"></app-text-shell>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="brick-details-content">
  <ion-row class="image-row">
    <ion-col size="12">
      <app-image-shell [display]="'cover'" animation="spinner" class="add-overlay showcase-image"
        [src]="details?.showcaseImage">
        <app-aspect-ratio [ratio]="{ w: 64, h: 40 }">
          <div class="icon-wrapper">
            <app-aspect-ratio [ratio]="{ w: 10, h: 10 }">
              <app-image-shell class="icon-image" [src]="details?.icon"></app-image-shell>
            </app-aspect-ratio>
          </div>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="description-row">
    <ion-col size="9">
      <h3 class="details-name">
        <app-text-shell [data]="details?.name"></app-text-shell>
      </h3>
      <p class="details-style">
        <app-text-shell [data]="details?.style"></app-text-shell>
      </p>
    </ion-col>
  </ion-row> -->



  <ion-slides class="walkthrough-slides" pager="true" [options]="slidesOptions">

    <!-- Area Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Wall'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Intro</h4>

        <ion-card>
          <img src="/assets/images/simple_rectangle_area.png" />
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Side 1:</ion-label>
                      <p [innerHTML]="side1" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Side 2:</ion-label>
                      <p [innerHTML]="side2" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total:</ion-label>
                      <ion-input clear-input name="totalArea" [(ngModel)]="totalArea"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateSimpleArea()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>
    <ion-slide class="last-slide illustration-and-decoration-slide" *ngIf="details?.name =='Wall'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Stretch</h4>
        <ion-card>
          <img src="/assets/images/simple_rectangle_door.png" />
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <ion-card-subtitle>
              <p>Remove the door area from the calculation</p>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Side 1:</ion-label>
                      <p [innerHTML]="side1a" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Side 2:</ion-label>
                      <p [innerHTML]="side2a" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Wall Area:</ion-label>
                      <ion-input clear-input name="wallArea" [(ngModel)]="wallArea"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Door Width:</ion-label>
                      <p [innerHTML]="doorWidth" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Door Height:</ion-label>
                      <p [innerHTML]="doorHeight" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Door Area:</ion-label>
                      <ion-input clear-input name="doorArea" [(ngModel)]="doorArea"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Wall Area - Door Area =</ion-label>
                      <ion-input clear-input name="subtractDoorArea" [(ngModel)]="subtractDoorArea"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateDoorRemoved()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Brick Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Bricks'">
      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/force.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Wall Area :</ion-label>
                      <p [innerHTML]="brickWallArea" type="number"></p>
                      <p style="margin-left: 5px;">m2</p>

                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Bricks / m2 :</ion-label>
                      <p [innerHTML]="brickCoverage" type="number"></p>
                      <p style="margin-left: 5px;">bricks</p>
                    </ion-item>

                    <ion-item class="ion-padding">
                      <ion-label>Total Bricks :</ion-label>
                      <ion-input clear-input name="totalBricks" [(ngModel)]="totalBricks"></ion-input>

                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateBricks()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Cost Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Cost'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Intro</h4>

        <ion-card>
          <img src="/assets/images/simple_rectangle_area.png" />
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Number of Bricks:</ion-label>
                      <p [innerHTML]="bricksRequired" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Cost / Brick:</ion-label>
                      <p [innerHTML]="costPerBrick" type="number"></p>
                      
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total:</ion-label>
                      <ion-input clear-input name="totalCostBrick" [(ngModel)]="totalCostBrick"></ion-input>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateSimpleCost()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Gable Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Gable'">
      <ion-row class="slide-inner-row">
        <!-- <h4 class="ion-padding">Intro</h4> -->

        <ion-card>
          <img src="/assets/images/simple_gable.png" />
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Height:</ion-label>
                      <p [innerHTML]="side1Tri" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Width:</ion-label>
                      <p [innerHTML]="side2Tri" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total:</ion-label>
                      <ion-input clear-input name="totalTri" [(ngModel)]="totalTri"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateSimpleTri()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Insulation Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Insulation'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Intro</h4>

        <ion-card>
          <img src="/assets/images/wall_area.png" />
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>You will require 1.75 insualtion boards</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Depth :</ion-label>
                      <p [innerHTML]="wallDepth" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Width :</ion-label>
                      <p [innerHTML]="wallWidth" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Height :</ion-label>
                      <p [innerHTML]="wallHeight" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Back Left :</ion-label>
                      <ion-input clear-input name="backLeft" [(ngModel)]="backLeft"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Back Right :</ion-label>
                      <ion-input clear-input name="backRight" [(ngModel)]="backRight"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Front Left :</ion-label>
                      <ion-input clear-input name="frontLeft" [(ngModel)]="frontLeft"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Front Right :</ion-label>
                      <ion-input clear-input name="frontRight" [(ngModel)]="frontRight"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total Area :</ion-label>
                      <ion-input clear-input name="totalWallArea" [(ngModel)]="totalWallArea"></ion-input>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateWallArea()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Tiles Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Tiles'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Intro</h4>

        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>Round the number packs required up to a full pack.</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Number of Tiles:</ion-label>
                      <p [innerHTML]="noTiles" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Tiles / Pack:</ion-label>
                      <p [innerHTML]="tilesPerPack" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Price / Pack: £</ion-label>
                      <p [innerHTML]="pricePack" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Number of Packs? </ion-label>
                      <ion-input clear-input name="numberPacks" [(ngModel)]="numberPacks"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total Cost (inc VAT):</ion-label>
                      <ion-input clear-input name="totalCostTiles" [(ngModel)]="totalCostTiles"></ion-input>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateTiles()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>
    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Tiles'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Stretch</h4>

        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>Round the number packs required up to a full pack.</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Number of Tiles:</ion-label>
                      <p [innerHTML]="noTiles" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Tiles / Pack:</ion-label>
                      <p [innerHTML]="tilesPerPack" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Price / Pack: £</ion-label>
                      <p [innerHTML]="pricePack" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Number of Packs? </ion-label>
                      <ion-input clear-input name="numberPacks" [(ngModel)]="numberPacks"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total Cost (ex VAT):</ion-label>
                      <ion-input clear-input name="totalCostTiles" [(ngModel)]="totalCostTiles"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>VAT @ 20%":</ion-label>
                      <ion-input clear-input name="vatTiles" [(ngModel)]="vatTiles"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total Cost (inc VAT):</ion-label>
                      <ion-input clear-input name="totalCostTilesVAT" [(ngModel)]="totalCostTilesVAT"></ion-input>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateTilesVAT()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Cement Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Cement'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Sand</h4>

        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>How much sand would be required for this mixture?</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Cement: </ion-label>
                      <p [innerHTML]="cement" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Sand Required: </ion-label>
                      <ion-input clear-input name="sandRequired" [(ngModel)]="sandRequired"></ion-input>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateSand()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>
    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Cement'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Cement</h4>

        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>How much cement would be required for this mixture?</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Sand: </ion-label>
                      <p [innerHTML]="sand1" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Cement Required: </ion-label>
                      <ion-input clear-input name="cementRequired1" [(ngModel)]="cementRequired1"></ion-input>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateCement()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>
    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Cement'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Sand & Cement</h4>

        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>How much sand & cement would be required for this volume of mixture?</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Mixture: </ion-label>
                      <p [innerHTML]="totalMix" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Cement Required: </ion-label>
                      <ion-input clear-input name="cementMix" [(ngModel)]="cementMix"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Sand Required: </ion-label>
                      <ion-input clear-input name="sandMix" [(ngModel)]="sandMix"></ion-input>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateMix()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Raft Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Raft'">
      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/force.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Width :</ion-label>
                      <p [innerHTML]="raftWidth" type="number"></p>
                      <p style="margin-left: 5px;">m</p>

                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Length :</ion-label>
                      <p [innerHTML]="raftHeight" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Depth :</ion-label>
                      <p [innerHTML]="raftDepth" type="number"></p>
                      <p style="margin-left: 5px;">mm</p>
                    </ion-item>

                    <ion-item class="ion-padding">
                      <ion-label>Converted Depth :</ion-label>
                      <ion-input clear-input name="convertedDepth" [(ngModel)]="convertedDepth"></ion-input>
                      <p style="margin-left: 5px;">mm</p>
                    </ion-item>

                    <ion-item class="ion-padding">
                      <ion-label>Conrete Required :</ion-label>
                      <ion-input clear-input name="requiredConcrete" [(ngModel)]="requiredConcrete"></ion-input>
                      <p style="margin-left: 5px;">m3</p>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateRaft()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Discount Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Discount'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Brushes : £</ion-label>
                      <p [innerHTML]="brushesCost" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Rollers : £</ion-label>
                      <p [innerHTML]="rollersCost" type="number"></p>
                    </ion-item>
                    <ion-item type="submit" class="ion-padding">
                      <ion-label>Masking Tape : £</ion-label>
                      <p [innerHTML]="maskingCost" type="number"></p>
                    </ion-item>
                    <ion-item type="submit" class="ion-padding">
                      <ion-label>Caulk : £</ion-label>
                      <p [innerHTML]="caulkCost" type="number"></p>
                    </ion-item>
                    <ion-item type="submit" class="ion-padding">
                      <ion-label>Drop Cloth : £</ion-label>
                      <p [innerHTML]="dropCost" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Discount : %</ion-label>
                      <p [innerHTML]="discount" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total before Discount :</ion-label>
                      <ion-input name="totalXDiscount" [(ngModel)]="totalXDiscount" maxlength="6"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Discount Total:</ion-label>
                      <ion-input name="discountTotal" [(ngModel)]="discountTotal" maxlength="6"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Final Price:</ion-label>
                      <ion-input name="totalCost" [(ngModel)]="totalCost" maxlength="6"></ion-input>
                    </ion-item>


                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateDiscount()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Build Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Build'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>

          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Wall Area : </ion-label>
                      <p [innerHTML]="brickArea" type="number"></p>
                      <p style="margin-left: 5px;" > m2 </p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Number of Bricks laid : </ion-label>
                      <p [innerHTML]="bricksDay" type="number"></p>
                      <p style="margin-left: 5px;" > per day </p>
                    </ion-item>
                    <ion-item type="submit" class="ion-padding">
                      <ion-label>Number of bricks / m2 :</ion-label>
                      <p [innerHTML]="bricksSquareM" type="number"></p>
                    </ion-item>
                    <ion-item type="submit" class="ion-padding">
                      <ion-label>Payment / 1000 bricks : £</ion-label>
                      <p [innerHTML]="paymentBricks" type="number"></p>
                    </ion-item>
            
                    <ion-item class="ion-padding">
                      <ion-label>Number of Bricks to lay :</ion-label>
                      <ion-input name="bricksToLay" [(ngModel)]="bricksToLay" maxlength="6"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Number of Days : </ion-label>
                      <ion-input name="numberDays" [(ngModel)]="numberDays" maxlength="6"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total Payment : £</ion-label>
                      <ion-input name="totalCostBricks" [(ngModel)]="totalCostBricks" maxlength="7"></ion-input>
                    </ion-item>


                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateBuild()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    

  </ion-slides>

</ion-content>