<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/categories/roofing"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <app-text-shell [data]="details?.name"></app-text-shell>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="roofing-details-content">
  <ion-row class="image-row">
    <ion-col size="12">
      <app-image-shell [display]="'cover'" animation="spinner" class="add-overlay showcase-image"
        [src]="details?.showcaseImage">
        <app-aspect-ratio [ratio]="{ w: 64, h: 40 }">
          <div class="icon-wrapper">
            <app-aspect-ratio [ratio]="{ w: 1, h: 1 }">
              <app-image-shell class="icon-image" [src]="details?.icon"></app-image-shell>
            </app-aspect-ratio>
          </div>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="description-row">
    <ion-col size="9">
      <h3 class="details-name">
        <app-text-shell [data]="details?.name"></app-text-shell>
      </h3>
      <p class="details-style">
        <app-text-shell [data]="details?.style"></app-text-shell>
      </p>
    </ion-col>
  </ion-row> -->



  <ion-slides class="walkthrough-slides" pager="true" [options]="slidesOptions">

    <!-- Labour Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Labour'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Rate per hour : £</ion-label>
                      <p [innerHTML]="labourCost" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Hours worked :</ion-label>
                      <p [innerHTML]="labourHours" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total Cost :</ion-label>
                      <ion-input name="totalPay" [(ngModel)]="totalPay" maxlength="6"></ion-input>
                    </ion-item>


                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateLabour()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Discount Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Discount'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Cost of Order : £</ion-label>
                      <p [innerHTML]="orderCost" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Discount :</ion-label>
                      <p [innerHTML]="discount" type="number"></p>
                      <p style="margin-left: 5px;">%</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Value of discount : £</ion-label>
                      <ion-input name="discountValue" [(ngModel)]="discountValue" maxlength="6"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Cost after discount : £</ion-label>
                      <ion-input name="finalCost" [(ngModel)]="finalCost" maxlength="6"></ion-input>
                    </ion-item>


                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateDiscount()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Breakages Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Breakages'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Number of tiles required :</ion-label>
                      <p [innerHTML]="numberTiles" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Breakage allowance :</ion-label>
                      <p [innerHTML]="breakage" type="number"></p>
                      <p style="margin-left: 5px;">%</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total needed : </ion-label>
                      <ion-input name="totalTiles" [(ngModel)]="totalTiles" maxlength="6"></ion-input>
                      <p style="margin-left: 5px;">tiles</p>
                    </ion-item>

                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateBreakages()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Pallet Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Pallet'">

      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Intro</h4>
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Number of tiles required :</ion-label>
                      <p [innerHTML]="numberPalletTiles" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Tiles per pallet :</ion-label>
                      <p [innerHTML]="numberPerPallet" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Pallets needed : </ion-label>
                      <ion-input name="pallettsNeeded" [(ngModel)]="pallettsNeeded" maxlength="6"></ion-input>
                    </ion-item>

                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculatePalletSimple()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>
    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Pallet'">

      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Stretch</h4>
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p> Calculate the amnount of money you could earn back by selling your spare tiles.</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
                  <img
                    src="/assets/images/simple_rectangle.png"
                    class="ion-padding"
                  />
                </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Number of tiles required :</ion-label>
                      <p [innerHTML]="numberPalletTiles" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Tiles per pallet :</ion-label>
                      <p [innerHTML]="numberPerPallet" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Pallets needed : </ion-label>
                      <ion-input name="pallettsNeeded" [(ngModel)]="pallettsNeeded" maxlength="6"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Tiles Ordered : </ion-label>
                      <ion-input name="totalTilesOrdered" [(ngModel)]="totalTilesOrdered" maxlength="6"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Spare tiles : </ion-label>
                      <ion-input name="spareTiles" [(ngModel)]="spareTiles" maxlength="6"></ion-input>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Cost per tile : £</ion-label>
                      <p [innerHTML]="costPerTile" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Spares income : £</ion-label>
                      <ion-input name="sparesIncome" [(ngModel)]="sparesIncome" maxlength="6"></ion-input>
                    </ion-item>

                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculatePalletAdvanced()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Cost Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Cost'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Number of tiles required :</ion-label>
                      <p [innerHTML]="numberTiles" type="number"></p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Cost per tile : £</ion-label>
                      <p [innerHTML]="costPerTile" type="number"></p>

                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Delivery charge : £</ion-label>
                      <p [innerHTML]="deliveryCharge" type="number"></p>

                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Cost of tiles & Delivery : </ion-label>
                      <ion-input name="totalTilesCost" [(ngModel)]="totalTilesCost" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">ex VAT</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>VAT : £</ion-label>
                      <ion-input name="costVAT" [(ngModel)]="costVAT" maxlength="6"></ion-input>
                      <p style="margin-left: 5px;">@ 20%</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total cost : </ion-label>
                      <ion-input name="totalCostIncVAT" [(ngModel)]="totalCostIncVAT" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">inc VAT</p>
                    </ion-item>

                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateCost()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Cement Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Cement'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Sand</h4>

        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>How much sand would be required for this mixture? NB: Roofing mix is 3 parts sand to 1 part cement.</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Cement: </ion-label>
                      <p [innerHTML]="cement" type="number"></p>
                      <p style="margin-left: 5px;">kg</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Sand Required: </ion-label>
                      <ion-input clear-input name="sandRequired" [(ngModel)]="sandRequired"></ion-input>
                      <p style="margin-left: 5px;">kg</p>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateSand()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>
    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Cement'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Cement</h4>

        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>How much cement would be required for this mixture? NB: Roofing mix is 3 parts sand to 1 part cement.</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Sand: </ion-label>
                      <p [innerHTML]="sand1" type="number"></p>
                      <p style="margin-left: 5px;">kg</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Cement Required: </ion-label>
                      <ion-input clear-input name="cementRequired1" [(ngModel)]="cementRequired1"></ion-input>
                      <p style="margin-left: 5px;">kg</p>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateCement()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>
    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Cement'">
      <ion-row class="slide-inner-row">
        <h4 class="ion-padding">Sand & Cement</h4>

        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>How much sand & cement would be required for this volume of mixture? NB: Roofing mix is 3 parts sand to 1
              part cement.</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!-- <h4 class="ion-padding">Intro</h4> -->
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Mixture: </ion-label>
                      <p [innerHTML]="totalMix" type="number"></p>
                      <p style="margin-left: 5px;">kg</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Cement Required: </ion-label>
                      <ion-input clear-input name="cementMix" [(ngModel)]="cementMix"></ion-input>
                      <p style="margin-left: 5px;">kg</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Sand Required: </ion-label>
                      <ion-input clear-input name="sandMix" [(ngModel)]="sandMix"></ion-input>
                      <p style="margin-left: 5px;">kg</p>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateMix()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Gable Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Gable'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>To calculate the slope use the formula: half span squared + rise squared, then find the square root to get the slope.</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Rise :</ion-label>
                      <p [innerHTML]="rise" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Span :</ion-label>
                      <p [innerHTML]="span" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Length :</ion-label>
                      <p [innerHTML]="length" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Half span squared : </ion-label>
                      <ion-input name="halfSpan" [(ngModel)]="halfSpan" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Rise squared : </ion-label>
                      <ion-input name="riseSquared" [(ngModel)]="riseSquared" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Slope : </ion-label>
                      <ion-input name="slope" [(ngModel)]="slope" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Single Side Area :</ion-label>
                      <ion-input name="singleArea" [(ngModel)]="singleArea" maxlength="6"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total Area : </ion-label>
                      <ion-input name="totalArea" [(ngModel)]="totalArea" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>

                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateGable()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

     <!-- Tiles Calculations -->

     <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Tiles'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <!-- <p>To calculate the slope use the formula: half span squared + rise squared, then find the square root to get the slope.</p> -->
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Width :</ion-label>
                      <p [innerHTML]="roofWidth" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Height :</ion-label>
                      <p [innerHTML]="roofHeight" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Area of single side : </ion-label>
                      <ion-input name="roofArea" [(ngModel)]="halfSpan" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Tiles / M2 :</ion-label>
                      <p [innerHTML]="tilesPerSqM" type="number"></p>
                      <p style="margin-left: 5px;">tiles</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Tiles required : </ion-label>
                      <ion-input name="roofTilesNeeded" [(ngModel)]="roofTilesNeeded" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">tiles</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>15 % breakage allowance : </ion-label>
                      <ion-input name="breakageAllowance" [(ngModel)]="breakageAllowance" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">tiles</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total tiles required :</ion-label>
                      <ion-input name="totalTilesRoof" [(ngModel)]="totalTilesRoof" maxlength="6"></ion-input>
                      <p style="margin-left: 5px;">tiles</p>
                    </ion-item>
        

                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateTiles()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Gutter Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Gutter'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <!-- <p>To calculate the slope use the formula: half span squared + rise squared, then find the square root to get the slope.</p> -->
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Width :</ion-label>
                      <p [innerHTML]="roofWidth" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Height :</ion-label>
                      <p [innerHTML]="roofHeight" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Overhang :</ion-label>
                      <p [innerHTML]="tilesPerSqM" type="number"></p>
                      <p style="margin-left: 5px;">mm</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total guttering required :</ion-label>
                      <ion-input name="totalGuttering" [(ngModel)]="totalGuttering" maxlength="6"></ion-input>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateGutter()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>

    <!-- Job Price Calculations -->

    <ion-slide class="first-slide illustration-and-decoration-slide" *ngIf="details?.name =='Job Price'">

      <ion-row class="slide-inner-row">
        <ion-card>
          <!-- <img src="/assets/images/simple_rectangle_area.png" /> -->
          <ion-card-header>
            <ion-card-title>
              <app-text-shell [data]="details?.name"></app-text-shell>
            </ion-card-title>
            <ion-card-subtitle>
              <app-text-shell [data]="details?.style"></app-text-shell>
            </ion-card-subtitle>
            <p>To calculate the slope use the formula: half span squared + rise squared, then find the square root to get the slope.</p>
          </ion-card-header>
          <ion-card-content>
            <ion-slide class="first-slide illustration-and-decoration-slide">
              <ion-row class="slide-inner-row">
                <!--  <ion-row class="description-row">
              <img
                src="/assets/images/simple_rectangle.png"
                class="ion-padding"
              />
            </ion-row> -->
                <form>
                  <ion-list class="ion-padding">
                    <ion-item class="ion-padding">
                      <ion-label>Rise :</ion-label>
                      <p [innerHTML]="rise" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Span :</ion-label>
                      <p [innerHTML]="span" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Length :</ion-label>
                      <p [innerHTML]="length" type="number"></p>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Half span squared : </ion-label>
                      <ion-input name="halfSpan" [(ngModel)]="halfSpan" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Rise squared : </ion-label>
                      <ion-input name="riseSquared" [(ngModel)]="riseSquared" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Slope : </ion-label>
                      <ion-input name="slope" [(ngModel)]="slope" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">m</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Single Side Area :</ion-label>
                      <ion-input name="singleArea" [(ngModel)]="singleArea" maxlength="6"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>
                    <ion-item class="ion-padding">
                      <ion-label>Total Area : </ion-label>
                      <ion-input name="totalArea" [(ngModel)]="totalArea" maxlength="7"></ion-input>
                      <p style="margin-left: 5px;">m2</p>
                    </ion-item>

                  </ion-list>
                  <div class="ion-padding">
                    <ion-button color="secondary" expand="block" type="submit" (click)="calculateGable()">
                      Submit
                    </ion-button>
                  </div>
                </form>
              </ion-row>
            </ion-slide>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-slide>



  </ion-slides>

</ion-content>